In [26]:
import pandas as pd
import numpy as np

In [27]:
df = pd.read_csv(r"anime.csv")         #to load the dataset

In [28]:
df.head()    #to view the top 5 rows of the dataset

   Rank                                              Title  Score
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05

In [29]:
df.loc[2]["Title"]    #to get the exact info which is written in title column

'Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 - Dec 2022474,138 members'

## We can see that title is quite messy. here we can make the new columns acoordingly and extract the data from the title column

In [30]:
def extract_episodes(txt):
    check = False
    data = ""
    for i in txt:
        if i == ")":
            check = False
            break
        if check == True:
            data+=i
        if i == "(":
            check = True
    return data

In [31]:
df["Episodes"] = df["Title"].apply(extract_episodes)               #get the episodes

In [32]:
df["Episodes"] =  df["Episodes"].str.replace(" eps", "")           #to get the number value to apply aggregate functions

In [33]:
print(type(df["Episodes"]))           #to check the data type

<class 'pandas.core.series.Series'>

In [34]:
df["Episodes"] = df["Episodes"].astype(int)       #change data type str to int

In [35]:
df.head()

   Rank                                              Title  Score  Episodes
0     1  Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...   9.10        64
1     2  Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...   9.07        24
2     3  Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...   9.06        13
3     4  Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...   9.06        51
4     5  Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...   9.05        10

In [36]:
df.iloc[0,1]

'Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr 2009 - Jul 20103,218,472 membersManga StoreVolume 1€4.58Preview'

In [37]:
def etract_time(txt):
    data = ""
    check = False
    for i in range(len(txt)):
        if txt[i] == ")":
            for j in range(i+1, i+20):
                data+=txt[j]
            return data

In [38]:
df["Airing_period"] = df["Title"].apply(etract_time)    #to get the airing period of the anime

In [39]:
df.head()

,Rank,Title,Score,Episodes,Airing_period
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019

In [40]:
def title_name(txt):
    check = False
    data = ""
    for i in txt:
        if i == "(":
            break
        else:
            data+=i
    return data

In [41]:
df["Anime Name"] = df["Title"].apply(title_name)

In [57]:
df.head()

,Rank,Title,Score,Episodes,Airing_period,Anime Name
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010,Fullmetal Alchemist: BrotherhoodTV
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011,Steins;GateTV
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022,Bleach: Sennen Kessen-henTV
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016,Gintama°TV
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019,Shingeki no Kyojin Season 3 Part 2TV

In [43]:
df.iloc[8,1]

'Kaguya-sama wa Kokurasetai: Ultra RomanticTV (13 eps)Apr 2022 - Jun 2022851,445 members'

In [44]:
def etract_time(txt):
    data = ""
    check = False
    for i in range(len(txt)):
        if txt[i] == ",":
            for j in range(i+1, i+12):
                data+=txt[j]
            return data


# which anime has the highest score

In [45]:
df[df["Score"] == df["Score"].max()]

,Rank,Title,Score,Episodes,Airing_period,Anime Name
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.1,64,Apr 2009 - Jul 2010,Fullmetal Alchemist: BrotherhoodTV

## top 5 scoring anime

In [46]:
df.head()                              #Score column is already in sorted form.

,Rank,Title,Score,Episodes,Airing_period,Anime Name
0,1,Fullmetal Alchemist: BrotherhoodTV (64 eps)Apr...,9.10,64,Apr 2009 - Jul 2010,Fullmetal Alchemist: BrotherhoodTV
1,2,"Steins;GateTV (24 eps)Apr 2011 - Sep 20112,473...",9.07,24,Apr 2011 - Sep 2011,Steins;GateTV
2,3,Bleach: Sennen Kessen-henTV (13 eps)Oct 2022 -...,9.06,13,Oct 2022 - Dec 2022,Bleach: Sennen Kessen-henTV
3,4,"Gintama°TV (51 eps)Apr 2015 - Mar 2016605,113 ...",9.06,51,Apr 2015 - Mar 2016,Gintama°TV
4,5,Shingeki no Kyojin Season 3 Part 2TV (10 eps)A...,9.05,10,Apr 2019 - Jul 2019,Shingeki no Kyojin Season 3 Part 2TV

## which anime has the highest episode count

In [47]:
df[df["Episodes"] == df["Episodes"].max()]        #this anime is also the longest running anime

,Rank,Title,Score,Episodes,Airing_period,Anime Name
15,16,"GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...",8.94,201,Apr 2006 - Mar 2010,GintamaTV

## Animes with top five episode count

In [54]:
df_sorted = df.sort_values(by='Episodes')

In [55]:
df_sorted.tail()             #the top five episodes count

,Rank,Title,Score,Episodes,Airing_period,Anime Name
24,25,"MonsterTV (74 eps)Apr 2004 - Sep 20051,041,081...",8.87,74,Apr 2004 - Sep 2005,MonsterTV
42,43,Hajime no IppoTV (75 eps)Oct 2000 - Mar 200255...,8.76,75,Oct 2000 - Mar 2002,Hajime no IppoTV
11,12,Ginga Eiyuu DensetsuOVA (110 eps)Jan 1988 - Ma...,9.02,110,Jan 1988 - Mar 1997,Ginga Eiyuu DensetsuOVA
7,8,Hunter x Hunter TV (148 eps)Oct 2011 - Sep 201...,9.04,148,Oct 2011 - Sep 2014,Hunter x Hunter TV
15,16,"GintamaTV (201 eps)Apr 2006 - Mar 20101,034,41...",8.94,201,Apr 2006 - Mar 2010,GintamaTV